{{yield}}
{{#let
  (find-own-player-state @gameState.gameState.playerState) as |ownPlayerState|
}}
  {{#if (eq @gameState.gameState.phase "BET")}}
    <h1 class="text-white text-2xl mb-2 flex flex-row">
      <div class="w-12 mr-4">
        {{gameState.gameState.timer}}s
      </div>
      to place your bets...
    </h1>
    <CurrencyAssigner
      @totalCurrency={{ownPlayerState.totalMoney}}
      @submitCurrencyAssignment={{fn this.submitBets}}
      @entities={{@gameState.gameState.horses}} as |ca|
    >
      <div class="flex flex-row items-center mb-4">
        <ca.totalCurrency />
        <span class="pl-4 font-bold text-white text-2xl">
          <ca.currencyTracker />
          remaining bets
        </span>
      </div>

      <ca.entityAssigner as |ac|>
        <ac.decrement />
        <ac.name>
          <span class="text-center">
            {{ac.entity.name}}
          </span>
          <span class="text-center">
            {{if
              (get ca.assignedCurrency ac.entity.id)
              (get ca.assignedCurrency ac.entity.id)
              0
            }} Bets

          (
            {{mult
              (if
                (get ca.assignedCurrency ac.entity.id)
                (get ca.assignedCurrency ac.entity.id)
                0
              )
              2
            }} Return)
          </span>
        </ac.name>
        <ac.increment />
      </ca.entityAssigner>

      <ca.submit class="w-full" />
    </CurrencyAssigner>
  {{/if}}

  {{#if (eq @gameState.gameState.phase "RACE")}}
    {{#if @gameState.gameState.race}}
      <div>
        <RaceView @race={{@gameState.gameState.race}} />
      </div>
    {{/if}}
  {{/if}}
  {{#if (eq @gameState.gameState.phase "RESULTS")}}
    <div>
      <RaceResults
        @gameState={{@gameState}}
        @race={{@gameState.gameState.race}}
      />
    </div>
  {{/if}}

  {{#if (eq @gameState.gameState.phase "FINISH")}}
    <div>
      <AssignDrinks @gameState={{@gameState}} @assignDrinks={{fn this.assignDrinks}}/>
    </div>
  {{/if}}


  {{#if (eq @gameState.gameState.phase "WAITING")}}
    <div>
      Waiting for others to submit their drinks...
    </div>
  {{/if}}

  {{#if (eq @gameState.gameState.phase "END")}}

  <div>
    <ShowDrinkAssignments @gameState={{@gameState}} />

    <button
  type="button"
  class="w-full flex-auto mb-2 bottom-0 shadow-md border-solid border-2 border-red-500 px-4 py-5 rounded hover:bg-red-500 text-white font-semibold"
  {{on "click" (fn this.refreshPage)}}
  ...attributes
>
  Back To Home
</button>
  </div>
  {{/if}}
{{/let}}