<h1 class="text-white text-2xl mb-2 flex flex-row">
  <div class="w-12 mr-4">
    {{@gameState.gameState.timer}}s
  </div>
  Until the next round
</h1>

<div class="neon pb-5">
  Race Results
</div>
{{#let (sort-race-results @gameState.gameState.race) as |sortedRace|}}
  {{#each sortedRace as |chicken index|}}
    <div
      class="text-white text-lg border-0 border-b-2 border-red-900 mb-2 pb-2"
    >
      {{add index 1}}. {{chicken.name}}
    </div>
  {{/each}}

  <div>
    <h5 class="flux pt-5">
      Winning Players
    </h5>
    {{#each @gameState.gameState.winningPlayers as |player|}}
      <div
        class="text-white text-lg border-0 border-b-2 border-red-900 mb-2 pb-2"
      >
        {{player}}
      </div>
    {{/each}}
    <h5 class="neon text-xl pt-5">
      Losing Players
    </h5>
    {{#each @gameState.gameState.losingPlayers as |player|}}
      <div
        class="text-white text-lg border-0 border-b-2 border-red-900 mb-2 pb-2"
      >
        {{player}}
      </div>
    {{/each}}
    <h5 class="flux text-xl pt-5">
      Chickens (Didn't bet)
    </h5>
    {{#each @gameState.gameState.didNotBetPlayers as |player|}}
      <div
        class="text-white text-lg border-0 border-b-2 border-red-900 mb-2 pb-2"
      >
        {{player}}
      </div>
    {{/each}}
  </div>
{{/let}}